	body {
		background-image: none;
		color: #666666;
		font-family: Arial, Helvetica, sans-serif;
		background-repeat: no-repeat;
	}
	header {
		color: #FFFFFF;
		background-color: #0000b3;
		background-image: url(.jpg);
		background-position: right;
		background-repeat: no-repeat;
		height: 60px;
		text-align: center;
		padding-top: 15px;
	}
	nav {
		background-color: #ffe663;
		font-weight: bold;
		text-align: center;
		padding: 10px;
	}
	nav a {
		text-decoration: none;
	}
nav a:link {
	color:#000033
}
nav a:visited {
	color:#344873
}
nav a:hover {
	color:#FFFFFF	
}
h1 {
		margin-top: 0;
		color: #FFFFFF;
		font-family: Georgia, "Times New Roman", serif;
	}
h2 {
	color: #0000b3;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #CCCCCC;
}
h3 {
	font-family: Georgia, "Times New Roman", serif;
	color: #0000b3;
}
dt {
	color: #0000b3;
}

main {
	padding: 1px 20px 20px 20px;
	display: block;
}
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 20px;
}
#wrapper {
	margin: auto;
	width: 75%;
	background-color: #FFFFFF;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: none;
}
#Home {
	height: 300px;
	background-image: url(home.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#ourhistory {
	height: 300px;
	background-image: url(history.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}
#celebration {
	height: 300px;
	background-image: url(celebrate.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}
#contactus {
	height: 300px;
	background-image: url(contact.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

#mobile {
	 display: none;
 }
 #desktop{
	 display: inline;
 }
 @media only screen and (max-width: 64em){
	 body{
		 background-color: #FFFFFF;
	 }
	 #wrapper{
		 min-width: 0;
		 width: auto;
		 box-shadow: none;
	 }
	 main{
		 margin-left: 0;
	 }
	 nav{
		 float: none;
		 width: auto;
		 text-align: center;
		 padding: 0.5em;
	 }
	 nav li{
		 display: inline;
		 padding: 0.25em 0.75em;		 
	 }
	 #Home{
		 margin-left: 0;
		 height: 200px;
	 }
	 #ourhistory{
		 margin-left: 0;
		 height: 200px;
	 }
	 #celebration{
		 margin-left: 0;
		 height: 200px;
	 }
	#contactus{
		 margin-left: 0;
		 height: 200px;
	}
	 footer{
		 margin-left: 0;
	 }
 }
 @media only screen and (max-width: 37.5em){
	 #header{
		 padding-top: 1em;
	 }
	 main{
		 padding: 0.1em 1em;
		 font-size: 90%;
	 }
 h1{
	 font-size: 1em;
 }
 nav{
	 padding: 0;
 }
 nav li{
	 display: block;
	 margin: 0;
	 border-bottom: 2px #330000;
 }
 nav a{
	 display: block;
 }
	#Home, #ourhistory, #celebration, #contactus{
	 background-image: none;
	 height: 0;
 }
 #mobile{
	 display: inline;
 }
 #desktop{
	 display: none;
 }
