.date{
	text-align: left;
	padding-top: 6%;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post{
	margin-bottom: 20px;
}

h1{
	text-align: left;
	color: #2c3e50;
	padding-bottom: 20px;
}

p{
	text-indent: 3em;
	color: #7F7D7C;
}

body{
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: 'Raleway',sans-serif;
	border-bottom: 2px solid #F1F1F1;
}

.quote{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba (0,0,0,0.1);
	border-bottom: 1px solid rgba (255,255,255,0.3);
}