
@import url('http://fonts.googleapis.com/css?family=Trocchi|Source+Sans+Pro');

::-moz-selection {
    color: #ffcc66;
}
::selection {
    color: #ffcc66;
}
body {
    background: #fefad7;
}

h1.name {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
}
.header-box {
    background: #fff4a3;
    height: 30px;
    position: relative;
    margin: 5px 5px 5px 5px;
}
a.cm-links {
    color: #ff9900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

h2#education-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
p.education-listing {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 40px;
}

h2#skills-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
td.skills-title {
    color: #4c4a37;
    font-family: 'Trocchi', cursive;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}
td.skills-list {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

h2#coursework-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
ul.courses {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h2#work-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
table#work-table {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h2#projects-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
ul.project-list {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.footer-box {
    background: #fff4a3;
    color: #4c4a37;
    font-family: 'Trocchi', cursive;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}

a.cm-links {
    transition: 0.5s ease-in-out;
}
a.cm-links:hover, a.cm-links:focus {
    color: #ffcc66;
    text-decoration: underline;
    outline: none;
}

table#skill-table tbody tr {
    transition: 0.5s ease-in-out;
}
table#skill-table tbody tr:hover {
    background: #fff4a3;
}

table#work-table tbody tr.job-description {
    transition: 0.5s ease-in-out;
}
table#work-table tbody tr.job-description:hover {
    background: #fff4a3;
}

li.project-description {
    transition: 0.5s ease-in-out;
}
li.project-description:hover {
    background: #fff4a3;
}