header, main, nav, footer, section, article, figure, figcaption, aside {display: block;}

html {
	font: Arial,helvetica,sans-serif;
	text-align: left;
}

body {
	background-image: linear-gradient(to bottom, #FFFFFF, #71CC2E);
	background-color: #595959;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif; color: #000000;
	font-size: 125%; 
}

header {
	margin-left: auto;
	margin-right: auto; 
	width:960px;  
	max-width: 90%;
	background-color: #FFFFFF;
	padding: 0 40px 40px;
}

main {
	margin-left: auto;
	margin-right: auto; 
	width:960px;  
	max-width: 90%;
	background-color: #FFFFFF;
	padding: 0 40px 40px;
}

.placeholder_image {
	float: left;
	padding:15px;
	display: block;
}

textarea {
  width: 300px;
  height: 150px;
}

.progress_bar {
	float: right;
	padding-right: 15px;
}

footer {
	font-size: 50%;
	font-style: italic;
	text-align: center;
	font: Arial,helvetica,sans-serif;
	padding: 5px;
	margin-left: auto;
	background-color: #FFFFFF;
}

#mobile {
	 display: none;
 }
 #desktop{
	 display: inline;
 }
 @media only screen and (max-width: 64em){
	 body{
		 background-color: #FFFFFF;
	 }
	 #wrapper{
		 min-width: 0;
		 width: auto;
		 box-shadow: none;
	 }
	 main{
		 margin-left: 0;
	 }
	 nav{
		 float: none;
		 width: auto;
		 text-align: center;
		 padding: 0.5em;
	 }
	 nav li{
		 display: inline;
		 padding: 0.25em 0.75em;		 
	 }
	 #{
		 margin-left: 0;
		 height: 200px;
	 }
	 #{
		 margin-left: 0;
		 height: 200px;
	 }
	 #{
		 margin-left: 0;
		 height: 200px;
	 }
	 #{
		 margin-left: 0;
		 height: 200px;
	 }
	 footer{
		 margin-left: 0;
	 }
 }
 @media only screen and (max-width: 37.5em){
	 #header{
		 padding-top: 1em;
	 }
	 main{
		 padding: 0.1em 1em;
		 font-size: 90%;
	 }
 h1{
	 font-size: 1em;
 }
 nav{
	 padding: 0;
 }
 nav li{
	 display: block;
	 margin: 0;
	 border-bottom: 2px #330000;
 }
 nav a{
	 display: block;
 }
	#, #, #, #{
	 background-image: none;
	 height: 0;
 }
 #mobile{
	 display: inline;
 }
 #desktop{
	 display: none;
 }

